openai
botbuilder-integration-aiohttp>=4.14.0
pillow
azure-identity
python-dotenv
jsonref
opencensus-ext-azure
langgraph==0.2.74
langsmith
langchain-openai
langchain-community
langchain-experimental
ipython
websockets
botbuilder-core 
botbuilder-dialogs 
botbuilder-schema
azure-storage-blob